<div class="h-full">


    <div class="h-16 bg-white px-6 py-2 flex items-center justify-between shadow-sm">
        @if (!isProjectLoading) {
        <div class="flex items-center space-x-4">
            <div class="font-bold whitespace-nowrap">
                {{ project.name }}
            </div>
            <button class="flex items-center space-x-2 px-3 py-2 rounded-md hover:bg-neutral-100">
                <fa-icon [icon]="faChartSimple"></fa-icon>
                <div class="hidden md:block">
                    Board
                </div>
            </button>
        </div>
        <div class="flex items-center justify-end space-x-4">
            <button class="flex items-center justify-end space-x-2 px-3 py-2 rounded-md hover:bg-neutral-100">
                <fa-icon [icon]="faFilter"></fa-icon>
                <div class="hidden md:block">
                    Filter
                </div>
            </button>
            <div class="hidden md:flex justify-end items-center py-3">
                <div class="flex space-x-1">
                    <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                    </div>
                    <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                    </div>
                    <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                    </div>
                </div>
            </div>
        </div>
        }

    </div>

    @if (!isLaneLoading && !isCardLoading) {
    <div class="h-full">
        <app-kanban [lanes]="lanes" [cards]="cards"></app-kanban>
    </div>
    } @else {
        <div class="h-kanban">
            <app-loader></app-loader>
        </div>
    }





</div>