<div cdkDropList cdkDropListOrientation="horizontal" class="main-board text-sm" (cdkDropListDropped)="dropLane($event)">
    @for (lane of lanes; track lane.laneId) {
    <div class="min-w-80 md:min-w-80 md:w-80 space-y-2 h-full" cdkDrag [cdkDragDisabled]="!isDraggable">
        <div class="w-full flex justify-between items-center h-8 pr-1">
            <div class="w-full flex items-center space-x-2 hover:cursor-pointer" cdkDragHandle>
                <div [ngStyle]="{ color: lane.color }" class="text-xs">
                    <fa-icon [icon]="faCircle"></fa-icon>
                </div>
                <div class="font-bold">
                    {{ lane.name }}
                </div>
            </div>
            <div class="flex items-center">
                <button class="w-8 aspect-square rounded-md hover:bg-neutral-200">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
                <button class="w-8 aspect-square rounded-md hover:bg-neutral-200">
                    <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                </button>
            </div>

        </div>


        <div cdkDropList [id]="lane.laneId" [cdkDropListData]="cards[lane.laneId]"
            [cdkDropListConnectedTo]="connectedLanes" (cdkDropListDropped)="dropCard($event)"
            class="space-y-2 h-lane overflow-auto pr-1">

            @for (card of cards[lane.laneId]; track card.cardId) {


            <!-- Actual Card -->
            <div class="bg-white px-4 pt-4 rounded-md border w-full space-y-2 hover:cursor-pointer" cdkDrag (click)="openCardDetail(card.cardId)">
                <div class="flex w-full justify-between items-center space-x-2 h-7">
                    <div class="font-bold whitespace-nowrap truncate">
                        {{ card.name }}
                    </div>
                    <button class="w-8 aspect-square rounded-md hover:bg-neutral-200 z-30" (click)="openCardOption(card.cardId); $event.stopPropagation()">
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </button>
                </div>
                <div>
                    <button
                        [ngStyle]="{ color: utilService.darkenColor(card.labelColor, 40), background: card.labelColor }"
                        class="rounded-full px-3 py-1.5 text-xs">
                        {{ card.label }}
                    </button>
                </div>
                <div class="text-gray-400 line-clamp-2 h-10">
                    {{ card.description }}
                </div>
                <div class="grid grid-cols-2 border-t">
                    <div class="flex items-center space-x-2">
                        <div>
                            <fa-icon [icon]="faListCheck"></fa-icon>
                        </div>
                        <div class="">
                            {{ card.progress }}
                        </div>
                    </div>
                    <div class="flex justify-end items-center py-3">
                        <div class="flex space-x-1">
                            <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            }

        </div>




    </div>
    }
</div>