<!-- Col -->
<div class="flex space-x-6 p-6 overflow-y-auto h-kanban">
    <!-- Task -->
    @for (lane of lanes; track lane.laneId) {
    <div class="min-w-72 md:min-w-96 md:w-96 space-y-4">
        <div class="w-full flex justify-between items-center px-2 h-8">
            <div class="font-bold">
                {{ lane.name }}
            </div>
            <button class="w-8 aspect-square rounded-full hover:bg-neutral-200">
                <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            </button>
        </div>

        <div class="space-y-2">
            <button
                class="bg-white text-blue-600 p-2 rounded-md border flex justify-center items-center min-h-12 w-full">
                + Add new task
            </button>

            <!-- Card 1 -->
            <div class="bg-white px-4 pt-4 rounded-md border w-full space-y-2">
                <div class="flex w-full justify-between items-start space-x-2">
                    <div class="font-bold line-clamp-2">
                        Example card name Example card name Example card nameExample card name
                    </div>
                    <button class="w-8 aspect-square rounded-full">
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </button>
                </div>
                <div>
                    <button class="text-sm rounded-full bg-orange-200 text-orange-600 px-4 py-2">
                        UX Stages
                    </button>
                </div>
                <div class="text-sm text-gray-400 line-clamp-3 min-h-16">
                    a spoken or written representation or account of a person, object, or event.
                    a spoken or written representation or account of a person, object, or event.
                    a spoken or written representation or account of a person, object, or event.

                </div>
                <div class="grid grid-cols-2 border-t">
                    <div class="flex items-center space-x-2">
                        <div>
                            <fa-icon [icon]="faListCheck"></fa-icon>
                        </div>
                        <div class="text-sm">
                            {{ 1 }}/{{ 4 }}
                        </div>
                    </div>
                    <div class="flex justify-end items-center py-3">
                        <div class="flex space-x-1">
                            <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Card 2 -->
            <div class="bg-white px-4 pt-4 rounded-md border w-full space-y-2">
                <div class="flex w-full justify-between items-start space-x-2">
                    <div class="font-bold line-clamp-2">
                        Example card name Example card name Example card nameExample card name
                    </div>
                    <button class="w-8 aspect-square rounded-full">
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </button>
                </div>
                <div>
                    <button class="text-sm rounded-full bg-purple-200 text-purple-600 px-4 py-2">
                        Develop
                    </button>
                </div>
                <div class="text-sm text-gray-400 line-clamp-3 min-h-16">
                    a spoken or written representation or account of a person, object, or event.
                    a spoken or written representation or account of a person, object, or event.
                    a spoken or written representation or account of a person, object, or event.

                </div>
                <div class="grid grid-cols-2 border-t">
                    <div class="flex items-center space-x-2">
                        <div>
                            <fa-icon [icon]="faListCheck"></fa-icon>
                        </div>
                        <div class="text-sm">
                            {{ 1 }}/{{ 4 }}
                        </div>
                    </div>
                    <div class="flex justify-end items-center py-3">
                        <div class="flex space-x-1">
                            <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                            </div>
                            <div class="h-8 w-8 aspect-square rounded-full bg-gray-600">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    }

</div>