<div cdkDropList cdkDropListOrientation="horizontal" class="main-board" (cdkDropListDropped)="dropLane($event)">
    @for (lane of lanes; track lane.laneId) {
    <div class="min-w-72 md:min-w-80 md:w-80 space-y-4 h-full" cdkDrag>

        <div class="w-full flex justify-between items-center px-2 h-8">
            <div class="font-bold">
                {{ lane.name }}
            </div>
            <button class="w-8 aspect-square rounded-md hover:bg-neutral-200">
                <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            </button>
        </div>

        <button class="bg-white text-blue-600 p-2 rounded-md border flex justify-center items-center min-h-12 w-full">
            + Add New Task
        </button>


        <div cdkDropList [id]="lane.laneId" [cdkDropListData]="cards[lane.laneId]"
            [cdkDropListConnectedTo]="connectedLanes" (cdkDropListDropped)="dropCard($event)"
            class="space-y-2 h-full overflow-y-auto pb-36">

            @for (card of cards[lane.laneId]; track card.cardId) {


            <!-- Actual Card -->
            <div class="bg-white px-4 pt-4 rounded-md border w-full space-y-2" cdkDrag>
                <div class="flex w-full justify-between items-start space-x-2 h-8">
                    <div class="font-bold whitespace-nowrap truncate">
                        {{ card.name }}
                    </div>
                    <button class="w-8 aspect-square rounded-md hover:bg-neutral-200">
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </button>
                </div>
                <div>
                    <button class="text-sm rounded-full bg-orange-200 text-orange-600 px-4 py-2">
                        UX Stages
                    </button>
                </div>
                <div class="text-sm text-gray-400 line-clamp-2 h-10">
                    {{ card.description }}
                </div>
                <div class="grid grid-cols-2 border-t">
                    <div class="flex items-center space-x-2">
                        <div>
                            <fa-icon [icon]="faListCheck"></fa-icon>
                        </div>
                        <div class="text-sm">
                            {{ card.progress }}
                        </div>
                    </div>
                    <div class="flex justify-end items-center py-3">
                        <div class="flex space-x-1">
                            <div class="h-8 w-8 aspect-square rounded-full bg-gray-400">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            }

        </div>

    </div>
    }
</div>



