.h-kanban {
  /* 14rem from header + project head */
  height: calc(100vh - 8rem);
  min-height: calc(100vh - 8rem);
}

.h-lane {
  height: calc(100% - 2rem);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-neutral-200 rounded-md;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500 cursor-pointer;
}

.main-board {
  @apply w-full space-x-6 h-kanban flex flex-row overflow-y-hidden px-6 p-4;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden; /* Prevents scrollbar from showing in most browsers */
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
